.Menu0 {
  & li {
    margin-left: 20px;
  }
}
.Menu0 {
  white-space: nowrap;
}
.Menu1 {
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease;
}
.Menu2 {
  position: fixed;
  width: 200px;
  left: 200px;
  top: 0;
  z-index: 1000;
  display: none;
}

.Item0 {
  &.open {
    & > ul {
      height: auto;
    }
  }
}
/* .Item1:hover {
  & > ul {
    display: block;
  }
} */
.Item1 {
}
.Item2 {
}

.open {
  & > span {
    color: blue;
  }
}
.tabItem {
  color: blue;
}
