:root {
  --show-width: 200px;
  --hide-width: 50px;
}
.MenuShow {
  width: var(--show-width);
  overflow-x: hidden;
}
.MenuHide {
  width: var(--hide-width);
  overflow-x: hidden;
}

.LeftMenu{
  position: fixed;
  left:0;
  top: 0;
  z-index: 11;
  height: 100vh;
  overflow-y: auto;
}

.WebName {
  text-align: center;
}
.PageHeader {
  height: 58px;
}
.HeaderInner{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

/* .PageHeader::after {
  content: '';
  display: block;
  height: 78px;
} */

/* 
.AppContent {
  display: flex;
  position: relative;
  min-height: 100vh;
  background: gray;
  width: 100%;
}

.ContentBlock {
  width: var(--show-width);
  background: green;
  transition: width 0.2s ease;
}
.SmallBlock {
  width: var(--hide-width);
}
.ContentMain {
  flex: 1;
}
.TabActive {
  color: orange;
}
.PageHeader {
  height: 78px;
}
.PageHeaderInner {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
}
.PageHeaderRight{
  flex: 1;
} */

/* .App{
  display: flex;
  height: 100vh;
}
.Sider{
  width: var(--show-width);
  background: orange;
  position: relative;
  transition: width 0.2s ease;
}
.SiderContent{
  width: var(--hide-width);
}
.Collapsed{
  width: 50px;
}
.Main{
  flex: 1;
  background: gray;
} */

/* .contentSection {
  display: flex;
}
.block {
  width: 200px;
  transition: width 0.2s ease;
}
.contentBlock {
  flex: 1;
}
.blue{
  color: blue;
}
.sysName {
  margin: 0;
  padding: 0;
  color: #fff;
  line-height: 3em;
  text-indent: 2em;
  white-space: nowrap;
}
.headerBlock{
  height: 78px;
}
.Home{
  text-align: center;
}
.Home p{
  height: 200px;
  background: orange;
}
.Home p:nth-child(odd){
  background: gray;
} */
